{% extends "BAI_app_v2/base.html" %}
{% block body_block %}
{% load static %}

<div data-spy="scroll" data-target="#list-example" data-offset="0">

  <div class="container mt-5">
    <div class="container">
      <!-- Horizontal Steppers -->
      <div class="row">
        
        {% if error2_3 %}
        <script> alert(" {{error2_3}} ")</script>
        {% endif %}

        <div class="col-md-12">

          <!-- Stepers Wrapper -->
          <ul class="stepper stepper-horizontal">

            <!-- First Step -->
            <li class="completed">
              <a class="nav-link" href="#">
                <span class="circle">1</span>
                <span class="label">First step</span>
              </a>
            </li>

            <!-- First Step -->
            <li class="completed">
              <a class="nav-link" href="#">
                <span class="circle">2</span>
                <span class="label">Second step</span>
              </a>
            </li>

            <!-- Second Step -->
            <li class="incomplete">
              <a href="#">
                <span class="circle">3</span>
                <span class="label">Third step</span>
              </a>
            </li>

            <!-- Third Step -->
            <li class="incomplete">
              <a class="nav-link" href="#">
                <span class="circle">4</span>
                <span class="label">Fourth step</span>
              </a>
            </li>

          </ul>
          <!-- /.Stepers Wrapper -->
          <div class="container">
            <div class="mt-2">
              <div class="row">
                <div class="col-3">
                  <div class="sticky-top">
                    <div id="list-example" class="list-group">
                      <a class="list-group-item list-group-item-action" href="#list-item-1">Economy</a>
                      <a class="list-group-item list-group-item-action" href="#list-item-2">Safety/Welfare</a>
                      <a class="list-group-item list-group-item-action" href="#list-item-3">Others</a>
                    </div>
                  </div>
                </div>
                <div class="col-9">
                  <div class="scrollspy-example z-depth-1">
                    <h4 id="list-item-1">
                      <!--Economy-->
                    </h4>
                    <!--step 2-1-->
                    <div>
                      <form class="border border-light p-5" action="{% url 'BAI_app_v2:updateform2_3' request.user.username cat_id %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        
                        <p class="h4 mb-4 text-center">Update Others Form</p>
                        <p class="mb-4 text-center">Builder / Contractor(Fill relevant information)</p>
                        <div class="form-row">
                          <div class="col-7">
                            <label for="textInput"><b>1. What arrangements were made on site for workers
                                accommodation? <br> Provide Photographs. *</b></label><br>
                          </div>
                          <div class="col-5">
                            <div class="mt-0">
                              <div class="input-group">
                                <div class="custom-file">
                                  <input value={{Others.accomodation}} type="file" class="custom-file-input" id="inputGroupFile01" name="accomodation" >
                                  <label class="custom-file-label" for="inputGroupFile01">{{Others.accomodation}}</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-7">
                            <label for="textInput"><b>2. What sanitary arrangements were made on site for <br>
                                workers? <br> Provide Photographs. *</b></label><br>
                          </div>
                          <div class="col-5">
                            <div class="mt-0">
                              <div class="input-group">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="inputGroupFile01" name="sanitary" >
                                  <label class="custom-file-label" for="inputGroupFile01">{{Others.sanitary}}</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-7">
                            <label for="textInput"><b>3. Was Crèche and/or school provided for workers
                                children on site?<br> Provide Photographs.</b></label><br>
                          </div>
                          <div class="col-5">
                            <div class="mt-0">
                              <div class="input-group">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="inputGroupFile01" name="school">
                                  <label class="custom-file-label" for="inputGroupFile01">{{Others.school}}</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-7">
                            <label for="textInput"><b>4. Enlist any pollution control measures adopted <br>
                                during construction to address sound pollution, air <br>
                                pollution, water pollution, waste disposal. <br>
                                Provide Photographs. *</b></label><br>
                          </div>
                          <div class="col-5">
                            <div class="mt-0">
                              <div class="input-group">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" id="inputGroupFile01" name="polution_measures">
                                  <label class="custom-file-label" for="inputGroupFile01">{{Others.polution_measures}}</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>5. Does your company have any quality accreditation
                                such as ISO?</b></label>
                          </div>
                          {% if Others.ISO_accreditation == "yes" %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="ISO_accreditation" value="yes" checked>YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="ISO_accreditation" value="no">NO
                              </label>
                            </div>
                          </div>
                          {% else %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="ISO_accreditation" value="yes">YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="ISO_accreditation" value="no" checked>NO
                              </label>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        <label for="textInput"><b>6. What are the water and energy conservation
                            measures <br> adopted thereby reducing green house
                            gas emissions? *</b></label>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>&emsp;a. During construction</b></label>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="conseravation_A" value={{Others.conseravation_A}}>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>&emsp;b. During occupancy</b></label>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="conseravation_B" value={{Others.conseravation_B}}>
                            </div>
                          </div>
                        </div>
                        <label for="textInput"><b>7. Specify with proof what are the actions taken to <br>
                            maximize use of renewable energy resources.</b></label>
                        <div class="form-row">
                          <div class="col-6">
                            <div class="md-form mt-0">
                              <input class="form-control" name="renewable_energy_text" type="text" value={{Others.renewable_energy_text}}>
                            </div>
                          </div>
                          <div class="col-6">
                            <div class="input-group">
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" name="renewable_energy_pic" id="inputGroupFile01">
                                <label class="custom-file-label" for="inputGroupFile01">{{Others.renewable_energy_pic}}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>8. Mention measures taken to follow Green Building
                                norms.</b></label>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="green_building" value={{Others.green_building}}>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>9. How effectively you have maintained debris
                                management at site?</b></label>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="debris_management" value={{Others.debris_management}}>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>10. How many Seminars / Workshops attended by your <br>
                                representative, arranged by BAI or any other
                                organization?</b></label>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="seminars" value={{Others.seminars}}>
                            </div>
                          </div>
                        </div>
                        <button class="btn btn-info my-4 btn-block" type="Submit" value="Form2">UPDATE</button>
                        <p><em>NOTE: Please keep all relevant document ready at site for verification / inspection
                            during the visit of juries.</em> </p>
                      </form>
                    </div>
                    <!--step 2-2-->

                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- /.Horizontal Steppers -->
  </div>

</div>

{% endblock %}