{% extends "BAI_app_v2/base.html" %}
{% block body_block %}
{% load static %}

<div data-spy="scroll" data-target="#list-example" data-offset="0">

  <div class="container-fluid">
    <div class="container">
      <!-- Horizontal Steppers -->
      <div class="row">
        
        {% if error3 %}
        <script> alert(" {{error3}} ")</script>
        {% endif %}

        <div class="col-md-12">

          <!-- Stepers Wrapper -->
          <ul class="stepper stepper-horizontal">

            <!-- First Step -->
            <li class="completed">
              <a class="nav-link" href="#">
                <span class="circle">1</span>
                <span class="label">First step</span>
              </a>
            </li>

            <!-- First Step -->
            <li class="completed">
              <a class="nav-link" href="#">
                <span class="circle">2</span>
                <span class="label">Second step</span>
              </a>
            </li>

            <!-- Second Step -->
            <li class="incomplete">
              <a class="nav-link" href="#">
                <span class="circle">3</span>
                <span class="label">Third step</span>
              </a>
            </li>

            <!-- Third Step -->
            <li class="incomplete">
              <a href="#">
                <span class="circle">4</span>
                <span class="label">Fourth step</span>
              </a>
            </li>

          </ul>
        </div>

          <!-- /.Stepers Wrapper -->
          <div class="container">
            <div class="mt-2">
              <div class="row">
                <div class="col-3">
                  <div class="sticky-top">
                    <div id="list-example" class="list-group">
                      <a class="list-group-item list-group-item-action" href="#list-item-1">Payment Details</a>
                    </div>
                  </div>
                </div>
                <div class="col-9">
                  <div data-spy="scroll" data-target="#list-example" data-offset="0"
                    class="scrollspy-example z-depth-1">
                    <h4 id="list-item-1">
                      <!--General Information about Project-->
                    </h4>


                    <div class="container">
                      <!--Section: Contact v.2-->
                      <section class="mb-4">

                        <!--Section heading-->
                        <h2 class="h1-responsive font-weight-bold text-center my-4">Update Payment Details</h2>
                        <!--Section description-->

                        <div class="row">

                          <!--Grid column-->
                          <div class="col-md-12 mb-md-0 mb-5">
                            <form class="border border-light p-5" action="{% url 'BAI_app_v2:updateform3' request.user.username cat_id %}" method="POST">
                              {% csrf_token %}
                              <!--Grid row-->
                              <div class="row">

                                <!--Grid column-->
                                <div class="col-md-6">
                                  <div class="md-form mb-0">
                                    <input type="text" id="name" name="pay_method" class="form-control" value={{PaymentDetails.pay_method}}>
                                    <label for="name" class="">{{PaymentDetails.pay_method}}</label>
                                  </div>
                                </div>
                                <!--Grid column-->

                                <!--Grid column-->
                                <div class="col-md-6">
                                  <div class="md-form mb-0">
                                    <input type="text" name="trans_date" class="form-control" value= {{PaymentDetails.trans_date}}>
                                    <label for="email" class="">{{PaymentDetails.trans_date}}</label>
                                  </div>
                                </div>
                                <!--Grid column-->

                              </div>
                              <!--Grid row-->

                              <!--Grid row-->
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="md-form mb-0">
                                    <input type="text" id="subject" name="trans_id" class="form-control" value={{PaymentDetails.trans_id}}>
                                    <label for="subject" class="">{{PaymentDetails.trans_id}}</label>
                                  </div>
                                </div>
                              </div>
                              <!--Grid row-->

                              <!--Grid row-->
                              <div class="row">

                                <!--Grid column-->
                                <div class="col-md-12">

                                  <div class="md-form">
                                    <input type="text" id="message" name="bank" rows="2"
                                      class="form-control md-textarea" value={{PaymentDetails.bank}}></input>
                                    <label for="message">HARSHAL</label>
                                  </div>

                                </div>
                              </div>
                              <!--Grid row-->

                              <div class="container">
                                <button class="btn btn-info my-4 btn-block" type="Submit" value="Form3" style="width: 500px;">Submit</button>
                              </div>
                            </form>

                            <!-- <div class="text-center text-md-left">
                              <a class="btn btn-primary">Verify</a>
                            </div>
                            <div class="status"></div> -->
                          </div>
                          <!--Grid column-->


                        </div>

                      </section>
                      <!--Section: Contact v.2-->
                    </div>
                    <hr>

                    <div style="height:10px;">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </div>
    </div>
  </div>
  <!-- /.Horizontal Steppers -->
  </div>

</div>

{% endblock %}

