{% extends "BAI_app_v2/base.html" %}
{% block body_block %}
{% load static %}

<div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
  <div class="container mt-5">
    <main class="Site-content">
        <!-- Horizontal Steppers -->
        <div class="container ">
          <div class="row Site-content">
        
            {% if error1_4 %}
            <script> alert(" {{error1_4}} ")</script>
            {% endif %}
            {% if already_filled %}
            <script> alert(" {{already_filled}} ")</script>
            {% endif %}
    
            <div class="col-md-12">

              <!-- Stepers Wrapper -->
              <ul class="stepper stepper-horizontal">

                <li class="completed">
                  <a class="nav-link" href="#">
                    <span class="circle">1</span>
                    <span class="label">First step</span>
                  </a>
                </li>

                <!-- First Step -->
                <li class="incomplete">
                  <a href="#step-home">
                    <span class="circle">2</span>
                    <span class="label">Second step</span>
                  </a>
                </li>

                <!-- Second Step -->
                <li class="incomplete">
                  <a class="nav-link" href="#">
                    <span class="circle">3</span>
                    <span class="label">Third step</span>
                  </a>
                </li>

                <!-- Third Step -->
                <li class="incomplete">
                  <a class="nav-link" href="#">
                    <span class="circle">4</span>
                    <span class="label">Fourth step</span>
                  </a>
                </li>

              </ul>
              <!-- /.Stepers Wrapper -->
            </div>
          </div>

          <div class="container">
            <div class="mt-2">
              <div class="row">
                <div class="col-3">
                  <div class="sticky-top">
                    <div class="list-group">
                      <ul id="list-example">
                        <a class="list-group-item list-group-item-action " href="#list-item-1">General Information about Project</a>
                        <a class="list-group-item list-group-item-action " href="#list-item-2">Names of Consultants appointed</a>
                        <a class="list-group-item list-group-item-action " href="#list-item-3">Quality </a>
                        <a class="list-group-item list-group-item-action " href="#list-item-4">Speed of construction</a>
                      </ul>
                    </div>
                  </div>
                </div>
                  <div class="col-9">
                      <p>
                      <form class="border border-light p-5" action="{% url 'BAI_app_v2:updateform1_4' request.user.username cat_id %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        
                      <div id="list-item-4">
                        <p class="h4 mb-4 text-center">Update Speed Form</p>
                        <p class="mb-4 text-center">Builder / Contractor(Fill relevant information)</p>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>1. In case of a Tender, was the time line defined in
                                the Tender? *</b></label>
                          </div>
                          {% if Speed.tender == "yes" %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline" data-toggle="collapse" data-target="#collapseExample1">
                                <input type="radio" name="tender" checked>YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="tender">NO
                              </label>
                            </div>
                          </div>
                          {% else %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline" data-toggle="collapse" data-target="#collapseExample1">
                                <input type="radio" name="tender" >YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="tender"  checked>NO
                              </label>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        <div class="collapse" id="collapseExample1">
                          <div class="mt-3">
                            <div class="form-row">
                              <div class="col-9">
                                <label><b>If not, who determined the Project Time frame? *</b></label><br>
                              </div>
                              <div class="col-3">
                                <div class="md-form mt-0">
                                  <input type="text" name="ProTimeFrame" value={{Quality.ProTimeFrame}}>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>2. Was the project being tracked in terms of time
                                during the progress of work?</b></label>
                          </div>
                          {% if Speed.tracked == "yes" %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="tracked"  checked>YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" value="no" >NO
                              </label>
                            </div>
                          </div>
                          {% else %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="tracked" >YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="tracked"  checked>NO
                              </label>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>3. Was there a separate PMC appointed? *</b></label>
                          </div>
                          {% if Speed.PMCappointed == "yes" %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="PMCappointed" checked>YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="PMCappointed">NO
                              </label>
                            </div>
                          </div>
                          {% else %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="PMCappointed"  >YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="PMCappointed"checked>NO
                              </label>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>4. Were the drawings, specifications and techniques
                                assessed <br> in terms of possible time reduction? *</b></label>
                          </div>
                          {% if Speed.TimeReduc == "yes" %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="TimeReduc" checked>YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="TimeReduc">NO
                              </label>
                            </div>
                          </div>
                          {% else %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="TimeReduc" >YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="TimeReduc" checked>NO
                              </label>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>5. Was there a separate group / individual tracking
                                progress planned v/s actual?</b></label>
                          </div>
                          {% if Speed.trackPro == "yes" %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="trackPro" checked>YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="trackPro">NO
                              </label>
                            </div>
                          </div>
                         {% else %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="trackPro"  >YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="trackPro"  checked>NO
                              </label>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>6. What was the expected period of completion of the
                                project? *</b></label><br>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="expectPeriod" value={{Speed.expectPeriod}}>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>7. What was the actual period of completion of the
                                project? *</b></label><br>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="periodComplete" value={{Speed.periodComplete}}>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>8. During execution, did you encounter any difficulty
                                that resulted in variance of work?</b></label>
                          </div>
                          {% if Speed.difficulty == "yes" %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline" data-toggle="collapse" data-target="#collapseExample2">
                                <input type="radio" name="difficulty" checked>YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="difficulty">NO
                              </label>
                            </div>
                          </div>
                          {% else %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline" data-toggle="collapse" data-target="#collapseExample2">
                                <input type="radio" name="difficulty" >YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="difficulty" checked>NO
                              </label>
                            </div>
                          </div>
                          {% endif %}
                        </div>
                        <div class="collapse" id="collapseExample2">
                          <div class="mt-3">
                            <div class="form-row">
                              <div class="col-9">
                                <label for="textInput"><b>If yes, how much time did you loose on that
                                    account?</b></label><br>
                              </div>
                              <div class="col-3">
                                <div class="md-form mt-0">
                                  <input type="text" name="timeLost" value={{Speed.timeLost}}>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>9. What degree of mechanization was done by you
                                on site?</b></label><br>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="mechanization" value={{Speed.mechanization}}>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>10. How did it contribute to improvement in speed of
                                work?</b></label><br>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="contribImprov" value={{Speed.contribImprov}}>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>11. In Case of Tender, were the payments received by
                                you as per Tender terms? *</b></label>
                          </div>
                          {% if Speed.tenderPay == "yes" %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="tenderPay" checked>YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="tenderPay">NO
                              </label>
                            </div>
                          </div>
                          {% else %}
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="tenderPay" >YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="tenderPay" checked>NO
                              </label>
                            </div>
                          </div>
                          {% endif %}
                        </div>

                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>12. What suggestions were made by you to improve
                                the speed of the Project? *</b></label><br>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="suggest" value={{Speed.suggest}}>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>13. How would you rate your project in terms of Speed
                                on a scale of 1 to 10 <br>
                                (1: Lowest, 10:Highest) *</b></label><br>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="SpeedScale" value={{Speed.SpeedScale}}>
                            </div>
                          </div>
                        </div>

                        </div>

                        <button class="btn btn-info my-4 btn-block" type="Submit">UPDATE/NEXT</button>
                      </form>
                    </div>
                    <!-- step 1-4 -->
                  </div>
                </div>
              </div>
            </div>
            </div>

            <!-- /.Horizontal Steppers -->
    </main>
</div>

{% endblock %}