{% extends "BAI_app_v2/base.html" %}
{% block body_block %}

        <!-- Horizontal Steppers -->
        <div class="container mt-5">
            {% if filled1_1 %}
            <script>alert("General Information About Project saved Successfully!")</script>
            {% endif %}

            {% if error1_2 %}
            <script>alert("{{error1_2}}")</script>
            {% endif %}

            <div class="row Site-content">
                <div class="col-md-12">

                    <!-- Stepers Wrapper -->
                    <ul class="stepper stepper-horizontal">

                        <!-- First Step -->
                        <li class="completed">
                            <a class="nav-link" onclick="href='/BAI_app_v2/form0'">
                              <span class="circle">1</span>
                              <span class="label">First step</span>
                            </a>
                          </li>
              
                          <!-- First Step -->
                          <li class="incomplete">
                            <a href="#step-home">
                              <span class="circle">2</span>
                              <span class="label">Second step</span>
                            </a>
                          </li>
              
                          <!-- Second Step -->
                          <li class="incomplete">
                            <a class="nav-link" onclick="href='/BAI_app_v2/form2'">
                              <span class="circle">3</span>
                              <span class="label">Third step</span>
                            </a>
                          </li>
              
                          <!-- Third Step -->
                          <li class="incomplete">
                            <a class="nav-link" onclick="location.href='/BAI_app_v2/form3.html'">
                              <span class="circle">4</span>
                              <span class="label">Fourth step</span>
                            </a>
                          </li>

                    </ul>
                    <!-- /.Stepers Wrapper -->
                </div>
            </div>

            <div class="container">
                <div class="mt-2">
                    <div class="row">
                        <div class="col-3">
                            <div class="sticky-top">
                                <div class="list-group">
                                    <ul id="list-example">
                                        <a class="list-group-item list-group-item-action " href="form1.html">General
                                            Information about Project</a>
                                        <a class="list-group-item list-group-item-action " href="#list-item-2">Names of
                                            Consultants appointed</a>
                                        <a class="list-group-item list-group-item-action " href="form 1-3.html">Quality
                                        </a>
                                        <a class="list-group-item list-group-item-action " href="form 1-4.html">Speed of
                                            construction</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-9">

                            <div id="list-item-2">
                            <form class="border border-light p-5" action="{% url 'BAI_app_v2:form1_2' %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                                <p class="h4 mb-4 text-center">Names of Consultants appointed:</p>
                                <div class="md-form">
                                  <input type="text" id="textInput1" class="form-control mb-4" name="Architect_name">
                                  <label for="textInput1">Architect</label>
                                </div>
                                <div class="md-form">
                                  <input type="text" id="textInput2" class="form-control mb-4" name="Structural_Consultant_name">
                                  <label for="textInput2">Structural Consultant </label>
                                </div>
                                <div class="md-form">
                                  <input type="text" id="textInput3" class="form-control mb-4" name="Plumbing_Consultant_name">
                                  <label for="textInput3">Plumbing Consultant </label>
                                </div><div class="md-form">
                                  <input type="text" id="textInput4" class="form-control mb-4" name="Fire_Consultant_name">
                                  <label for="textInput4">Fire Consultant </label>
                                </div><div class="md-form">
                                  <input type="text" id="textInput5" class="form-control mb-4" name="Landscaping_Consultant_name">
                                  <label for="textInput5">Landscaping Consultant </label>
                                </div><div class="md-form">
                                  <input type="text" id="textInput6" class="form-control mb-4" name="HVAC_Consultant_name">
                                  <label for="textInput6">HVAC Consultant </label>
                                </div><div class="md-form">
                                  <input type="text" id="textInput7" class="form-control mb-4" name="Electrical_Consultant_name">
                                  <label for="textInput7">Electrical Consultant </label>
                                </div><div class="md-form">
                                  <input type="text" id="textInput8" class="form-control mb-4" name="Interior_Designer_name">
                                  <label for="textInput8">Interior Designer, if any </label>
                                </div><div class="md-form">
                                  <input type="text" id="textInput9" class="form-control mb-4" name="Project_Management_Consultant_name">
                                  <label for="textInput9">Project Management Consultant</label>
                                </div><div class="md-form">
                                  <input type="text" id="textInput10" class="form-control mb-4" name="MoEF_Consultant_name">
                                  <label for="textInput10">MoEF Consultant </label>
                                </div>
                                <label for="textInput"><b>Approvals, NOCs, certificates from PMC, PH Dept.,<br>
                                    CFO, MoEF, GRIHA etc. (attach copies)</b></label>
                                <div class="input-group mb-4">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Upload</span>
                                  </div>
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="fileInput" name="req_docs" aria-describedby="fileInput" multiple>
                                    <label class="custom-file-label" for="fileInput">Select multiple files, if any</label>
                                  </div>
                                </div>
                                <label for="textInput"><b>Is the project rated as green project?</b></label>
                                <!-- Default unchecked -->
                                <div class="custom-control custom-radio">
                                  <input type="radio" class="custom-control-input" name="green_proj" id="defaultUnchecked" >
                                  <label class="custom-control-label" for="defaultUnchecked">YES</label>
                                </div>
                                <!-- Default checked -->
                                <div class="custom-control custom-radio">
                                  <input type="radio" class="custom-control-input" name="green_proj" id="defaultChecked"  checked>
                                  <label class="custom-control-label" for="defaultChecked">NO</label>
                                </div>
                                <label for="textInput"><b>If yes, give details(attach copies)</b></label>
                                <div class="input-group mb-4">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text">Upload</span>
                                  </div>
                                  <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="fileInput" name="green_project_details" aria-describedby="fileInput" multiple>
                                    <label class="custom-file-label" for="fileInput">Select multiple files, if any</label>
                                  </div>
                                </div>
                                <button class="btn btn-info my-4 btn-block" type="submit">Save & Next</button>
                            </form>
        
                              </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

            <!-- /.Horizontal Steppers -->
{% endblock %}
