{% extends "BAI_app_v2/base.html" %}
{% block body_block %}

    <div class="container">
        {% if filled2_1 %}
      <script>alert("Economy Information saved Successfully!")</script>
      {% endif %}
        <!-- Horizontal Steppers -->
        <div class="row">
            <div class="col-md-12">

                <!-- Stepers Wrapper -->
                <ul class="stepper stepper-horizontal">

                    <!-- First Step -->
                    <li class="completed">
                        <a class="nav-link" onclick="href='/BAI_app_v2/form0'">
                          <span class="circle">1</span>
                          <span class="label">First step</span>
                        </a>
                      </li>
          
                      <!-- First Step -->
                      <li class="completed">
                        <a class="nav-link" onclick="href='/BAI_app_v2/form1'">
                          <span class="circle">2</span>
                          <span class="label">Second step</span>
                        </a>
                      </li>
          
                      <!-- Second Step -->
                      <li class="incomplete">
                        <a href="#">
                          <span class="circle">3</span>
                          <span class="label">Third step</span>
                        </a>
                      </li>
          
                      <!-- Third Step -->
                      <li class="incomplete">
                        <a class="nav-link" onclick="location.href='/BAI_app_v2/form3'">
                          <span class="circle">4</span>
                          <span class="label">Fourth step</span>
                        </a>
                      </li>

                </ul>
                <!-- /.Stepers Wrapper -->
                <div class="container">
                    <div class="mt-2">
                        <div class="row">
                            <div class="col-3">
                                <div class="sticky-top">
                                    <div id="list-example" class="list-group">
                                        <a class="list-group-item list-group-item-action"
                                            href="form2.html">Economy</a>
                                        <a class="list-group-item list-group-item-action"
                                            href="#list-item-2">Safety/Welfare</a>
                                        <a class="list-group-item list-group-item-action" href="form 2-3.html">Others</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="scrollspy-example z-depth-1">
                                    <h4 id="list-item-2">
                                        <!--Names of Consultants appointed-->
                                    </h4>
                                    <!--step 2-2-->
                                        <form class="border border-light p-5" action="{% url 'BAI_app_v2:form2_2' %}" enctype="multipart/form-data" method="POST">
                                            {% csrf_token %}
                                            <p class="h4 mt-5 mb-4 text-center">Safety/Welfare</p>
                        <p class="mb-4 text-center">Builder / Contractor(Fill relevant information)</p>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>1. Was safety on site being monitored?*</b></label>
                          </div>
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline" data-toggle="collapse" data-target="#collapseExample1">
                                <input type="radio" name="monitered">YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="monitered">NO
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="collapse" id="collapseExample1">
                          <div class="mt-3">
                            <div class="form-row">
                              <div class="col-9">
                                <label for="textInput"><b>If yes, by whom? *</b></label><br>
                              </div>
                              <div class="col-3">
                                <div class="md-form mt-0">
                                  <input type="text" name="bywhom" placeholder="">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>2. Enlist safety measures / equipment adopted on site <br>
                                during execution in terms of Barricading, signage,
                                nets, <br> firefighting, equipment to workers, safe <br>
                                electrical supply etc. *</b></label><br>
                          </div>
                          <div class="col-3">
                            <div class="md-form mt-0">
                              <input type="text" name="measures" placeholder="">
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>3. Was medical aid available on site during execution?</b></label>
                          </div>
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="medical_aid">YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="medical_aid">NO
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-9">
                            <label for="textInput"><b>4. Were there any safety related incidents or near-miss
                                on site? *</b></label>
                          </div>
                          <div class="col-3">
                            <div class="mt-0">
                              <label class="radio-inline">
                                <input type="radio" name="incidents">YES
                              </label>
                              &emsp;
                              <label class="radio-inline">
                                <input type="radio" name="incidents">NO
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-7">
                            <label for="textInput"><b>5. Provide documents showing safety audits, if done.</b></label><br>
                          </div>
                          <div class="col-5">
                            <div class="mt-0">
                              <div class="input-group">
                                <div class="custom-file">
                                  <input type="file" class="custom-file-input" name="safety_audits" id="inputGroupFile01" >
                                  <label class="custom-file-label" for="inputGroupFile01">Upload Documents.</label>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>

                        {% if error2_2 %}
                        <script> alert(" {{error2_2}} ")</script>
                        {% endif %}
                                            <button class="btn btn-info my-4 btn-block" type="submit">Save & Next</button>
                                        </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.Horizontal Steppers -->
    </div>

{% endblock %}