{% extends "BAI_app_v2/base.html" %}
{% block body_block %}
<div>
    <a><img src="../../static/assets/sky.jpg" alt="BAI WBSC 2020" height="270" width="1110"></a>
  </div>

  <!--signin Tile-->
  <div class="clearfix">
    <div class="row">
      <div class="col-md-9">
        <a><img src="../../static/assets/backdrop.jpg" alt="BAI WBSC 2020" height="270" width="852"></a>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="container">
            <div class="card-body">
              <h5 class="card-title">Registration</h5>
              <p class="card-text">Dont have an account?</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary"><a href="{% url 'BAI_app_v2:signup' %}" class="text-white" >Sign Up</a></button>
              </div>
              <p class="card-text">Already have an account?</p>
              <div class="btn-group" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary"><a href="{% url 'BAI_app_v2:user_login' %}" class="text-white">Log In</a></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--signin Tile-->


  <h2 class='mb-3'>Basic example</h2>
  <table id="dtBasicExample" class="table" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Categories
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <tr>
        <td>1) Residential (bungalow, row houses, standalone buildings)</td>
      </tr>
      <tr>
        <td>2) Residential (housing complex)</td>
      </tr>
      <tr>
        <td>3) Residential ( affordable housing)</td>
      </tr>
      <tr>
        <td>4) Commercial (malls, office, institution, hotel, hospital, cinema)</td>
      </tr>
      <tr>
        <td>5) Industrial (any size, any type)</td>
      </tr>
      <tr>
        <td>6) Infrastructure (bridges, flyovers, ESR etc.)</td>
      </tr>
      <tr>
        <td>7) Well equipped, well mechanized site</td>
      </tr>
      <tr>
        <td>8) Government, Semi-Govt., Public Works </td>
      </tr>
      <tr>
        <td>9) Work upto Bare Shell (includes RCC, Masonry and Plaster works)</td>
      </tr>
      </tr>
    </tbody>

  </table>

  {% endblock %}


