{% extends "BAI_app_v2/base.html" %}
{% block body_block %}

    <!-- Navbar -->
    <div style="background-image: url('../../static/assets/arch1.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
        <div class="flex-column">
            <div style="height: 100px;"></div>
            <div class="container">
                <h2 class="display-4 font-weight-bold">Reset Password</h2>
                <div class="row">
                
                        <div class="col-md-12 mt-5">

                            <h5>Enter your New Password</h5>
                            <form class="border border-light p-5" id='step-1' style="background-color: white;" method="POST">
                                {% csrf_token %}

                                {{form}}
                                <br>
                                <br>
                                <button class="btn btn-info btn-block my-4" type="submit"> Request to Reset Password </button>
                            </form>

                        </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End your project here-->

  {% endblock %}