{% extends "BAI_app_v2/base.html" %}
{% block body_block %}

    <!-- Navbar -->
    <div style="background-image: url('../../static/assets/arch1.jpg');background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
        <div class="flex-column">
            <div style="height: 100px;"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-offset-md-3">
                        <form class="border border-light p-5" style="background-color: white;" method="POST">
                            {% csrf_token %}

                            <!-- {{changePass.as_p}} -->

                            <!-- {% if changePass.non_field_errors %}
                            <div class="jumbotron">
                              {% for error in changePass.non_field_errors %}
                                <p>{{ error }}</p>
                              {% endfor %}
                            </div>
                            {% endif %} -->

                          <div class="card">
                                <img src="../../static/assets/header.jpg" alt="BAI logo with ISO mark">
                            </div>
                            <br>
                            <p class="h4 mb-4 text-center">Reset Password</p>

                            <!-- {% for fm in changePass %}

                            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br> -->

                            <!-- <div class="md-form">
                              <i class="fas fa-unlock prefix"></i>
                              {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br>
                            </div> -->

                            <!-- {% endfor %} -->

                            <!-- <div class="md-form">
                                <i class="fas fa-unlock prefix"></i>
                                {{ changePass.old_password }}
                                <label for="form3">Old password</label>
                            </div>
                            <div class="md-form">
                                <i class="fas fa-unlock prefix"></i>
                                {{ changePass.new_password1 }}
                                <label for="form3">New Password</label>
                            </div>
                            <div class="md-form">
                                <i class="fas fa-lock prefix"></i>
                                {{ changePass.new_password2 }}
                                <label for="form3" data-error="wrong" data-success="right">Confirm New Password</label>

                            </div>

                            <div class="md-form">
                                <br>
                                {{ changePass.errors|striptags }}
                                <br>
                            </div> -->

                            {{form}}

                            <button class="btn btn-info btn-block my-4" type="submit"> Submit </button>

                            <br>

                            <button class="btn btn-primary my-4"><a href="{% url 'BAI_app_v2:user_landing' %}" class="white-text">Back</a></button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End your project here-->

  {% endblock %}