{% extends "BAI_app_v2/base.html" %}
{% block body_block %}

<div style="height: 150vh">
    <div class="flex-center flex-column">

        {% if registered %}
            <p class="h2 text-center">Signup Successful!</p>
        {% else %} 

            <form class="border border-light p-5" action="{% url 'BAI_app_v2:signup' %}" method="POST">
                {% csrf_token %}

                <p class="h4 mb-4 text-center">Sign up</p>

                <input class="form-control mb-4" id="defaultRegisterFormFirstName" type="text" name="username" placeholder="Name of Applicant *">

                <input class="form-control mb-4" id="defaultRegisterFormLastName" type="text" name="applicant_desig" placeholder="Designation of Applicant *">

                <input class="form-control mb-4" id="defaultRegisterFormEmail" type="text" name="company_nm" placeholder="Name of Firm / Company *">

                <label for="textarea">Address *</label>
                <textarea id="textarea" class="form-control mb-4" name="address" placeholder="Full Address"></textarea>

                <label for="textarea">Membership/s of construction related associations <br> (other than BAI)</label>
                <textarea id="textarea" class="form-control mb-4" name="other_membership" placeholder="Mention in points"></textarea>

                <input type="text" id="defaultRegisterPhonePassword" class="form-control mb-4" name="ph_no" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">

                <input class="form-control mb-4" id="emailInput" type="email" name="email" placeholder="Email ">

                <input type="password" id="defaultRegisterFormPassword" class="form-control" name="password" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">

                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">Minimal 8 characters length</small>

                <!-- <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">Optional - for two step authentication</small> -->

                <button class="btn btn-info my-4 btn-block" type="submit" value="Register">Sign up</button>

                <div class="text-center">
                    <!-- <p>or sign up with:</p>

                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a type="button" class="light-blue-text mx-2">
                        <i class="fab fa-github"></i>
                    </a> -->
                    <p>Already a member?
                        <a href="{% url 'BAI_app_v2:user_login' %}">Log In</a>
                    </p>
                    <hr>

                    <p>By clicking
                        <em>Sign up</em> you agree to our terms of services.
                        <!-- <a href="" target="_blank">terms of service</a> and
                        <a href="" target="_blank">terms of service</a>. -->
                    </p>
                </div>
            </form>


        {% endif %}
    </div>
</div>

{% endblock %}