{% extends "BAI_app_v2/base.html" %}
{% block body_block %}
{% load static %}

        <!-- Horizontal Steppers -->
        <div class="container ">
            <div class="row Site-content">
                <div class="col-md-12">

                    <!-- Stepers Wrapper -->
                    <ul class="stepper stepper-horizontal">

                        <!-- First Step -->
                        <li class="completed">
                            <a class="nav-link" href="#">
                              <span class="circle">1</span>
                              <span class="label">First step</span>
                            </a>
                          </li>
              
                          <!-- First Step -->
                          <li class="incomplete">
                            <a href="#step-home">
                              <span class="circle">2</span>
                              <span class="label">Second step</span>
                            </a>
                          </li>
              
                          <!-- Second Step -->
                          <li class="incomplete">
                            <a class="nav-link" href="#">
                              <span class="circle">3</span>
                              <span class="label">Third step</span>
                            </a>
                          </li>
              
                          <!-- Third Step -->
                          <li class="incomplete">
                            <a class="nav-link" href="#">
                              <span class="circle">4</span>
                              <span class="label">Fourth step</span>
                            </a>
                          </li>

                    </ul>
                    <!-- /.Stepers Wrapper -->
                </div>
            </div>

            <div class="container">
                <div class="mt-2">
                    <div class="row">
                        <div class="col-3">
                            <div class="sticky-top">
                                <div class="list-group">
                                    <ul id="list-example">
                                      <a class="list-group-item list-group-item-action " href="{% url 'BAI_app_v2:viewForm1_1' Project_info_1.users_name cat_id %}">General Information about
                                        Project</a>
                                      <a class="list-group-item list-group-item-action " href="{% url 'BAI_app_v2:viewForm1_2' Project_info_1.users_name cat_id %}">Names of Consultants
                                        appointed</a>
                                      <a class="list-group-item list-group-item-action " href="{% url 'BAI_app_v2:viewForm1_3' Project_info_1.users_name cat_id %}">Quality </a>
                                      <a class="list-group-item list-group-item-action " href="{% url 'BAI_app_v2:viewForm1_4' Project_info_1.users_name cat_id %}">Speed of construction</a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-9">

                    <div id="list-item-2">
                        <form class="border border-light p-5" action="{% url 'BAI_app_v2:viewForm1_3' Project_info_1.users_name cat_id %}">
                            <p class="h4 mb-4 text-center">Names of Consultants appointed:</p>
                            <p class="h4 text-center">User: {{Project_info_1.users_name}}</p>
                            <p class="h4 mb-2 text-center">Category: {{Project_info_1.category_latest}}</p>
                            <hr>
                            <div class="container flex-center flex-column">
                                <div class="col-sm">
                                    <br>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-8">
                                            <label class="h5" for="">Architect: </label>
                                        </div>
                                        <div class="col-sm-4">
                                          <p class="h5">{{Project_info_1.Architect_name}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-8">
                                            <label class="h5" for="">Structural Consultant: </label>
                                        </div>
                                        <div class="col-sm-4">
                                          <p class="h5">{{Project_info_1.Structural_Consultant_name}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-8">
                                            <label class="h5" for="">Plumbing Consultant: </label>
                                        </div>
                                        <div class="col-sm-4">
                                          <p class="h5">{{Project_info_1.Plumbing_Consultant_name}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-8">
                                            <label class="h5" for="">Fire Consultant: </label>
                                        </div>
                                        <div class="col-sm-4">
                                          <p class="h5">{{Project_info_1.Fire_Consultant_name}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-8">
                                            <label class="h5" for="">Landscaping Consultant: </label>
                                        </div>
                                        <div class="col-sm-4">
                                          <p class="h5">{{Project_info_1.Landscaping_Consultant_name}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-8">
                                            <label class="h5" for="">HVAC Consultant: </label>
                                        </div>
                                        <div class="col-sm-4">
                                          <p class="h5">{{Project_info_1.HVAC_Consultant_name}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-8">
                                            <label class="h5" for="">Electrical Consultant: </label>
                                        </div>
                                        <div class="col-sm-4">
                                          <p class="h5">{{Project_info_1.Electrical_Consultant_name}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-8">
                                            <label class="h5" for="">Interior Designer, if any: </label>
                                        </div>
                                        <div class="col-sm-4">
                                          <p class="h5">{{Project_info_1.Interior_Designer_name}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-8">
                                            <label class="h5" for="">Project Management Consultant: </label>
                                        </div>
                                        <div class="col-sm-4">
                                          <p class="h5">{{Project_info_1.Project_Management_Consultant_name}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-8">
                                            <label class="h5" for="">MoEF Consultant: </label>
                                        </div>
                                        <div class="col-sm-4">
                                          <p class="h5">{{Project_info_1.MoEF_Consultant_name}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-6">
                                            <label class="h5" for="">Approvals, NOCs, certificates from PMC, PH Dept.,
                                                    CFO, MoEF, GRIHA etc. (attach copies): </label>
                                        </div>
                                        <div class="col-sm-6">
                                          <p class="h5">{{Project_info_1.req_docs}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-8">
                                            <label class="h5" for="">Is the project rated as green project?: </label>
                                        </div>
                                        <div class="col-sm-4">
                                          <p class="h5">{{Project_info_1.green_proj}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="width:100%">
                                      <div class="col-sm-6">
                                            <label class="h5" for="">If yes, give details(attach copies): </label>
                                        </div>
                                        <div class="col-sm-6">
                                          <p class="h5">{{Project_info_1.green_project_details}}</p>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <button class="btn btn-info my-4 btn-block" type="submit">Next</button>
                        </form>
                    </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.Horizontal Steppers -->
{% endblock %}